	<div id="Breadcrumb">
		administração > <a href="<%=groups_path%>">grupos de contatos</a>
	</div>
	<div id="Content">
		<span class="Titulo">Grupos</span>
		<div class="Linha"></div>
		<div class="Toolbar">
			<li class="Add"><%= link_to "Novo" , new_group_path%></li>
			<li class="Help"><a href="#" id="btnAjuda">Ajuda</a></li>
		</div>
		<%= render :file  => "layouts/_admhelp.html.erb" %>
		<div id="Grid">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<% @Groups.each do |g| %>
			<tr class="bgCinzaC">
			<td class="Name"><li class="Bullet"><%=link_to g.name, group_path(g) %></li></td>
			<td class="Actions">
				<li class="Edit"><%= link_to "Editar", edit_group_path(g)%></li>
				<li class="Del"><%= link_to "Excluir", group_path(g), :method => :delete, :confirm => "Tem certeza?"%></li>
				<li class="Add"><%= link_to "Contatos", group_contacts_path(g)%></li>
			</td>
			</tr>
			<% end %>
			</table>
		</div>
		<div class="Linha"></div>
	</div>
