<div id="Breadcrumb">
		administração > <a href="<%=emails_path%>">emails</a>
	</div>
	<div id="Content">
		<span class="Titulo">E-mails</span>
		<div class="Linha"></div>
		<div class="Toolbar">
			<li class="Add"><%= link_to "Novo" , new_email_path%></li>
			<li class="Help"><a href="#">Ajuda</a></li>
		</div>
		
		<div id="Grid">
			<h3><%=@Email.title%></h3><br>
      <div style="background-color:<%=@Email.bgcolor%>; width:100%; height:100%;">
        <p align="center"><a href="<%=@Email.link%>" target="_blank"><img src="<%=@Email.image%>"></p></a>
      </div>
		</div>
		<div class="Linha"></div>
	</div>

